h3, h4, p {
    margin-left: 10px;
}

.container {
    width: 100%;
    max-width: 940px;
    margin: auto;
    color: #fff;
    border-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 1px;


}
.box1 {
    grid-area: a;
    
    background: url(../images/hero-demo1.jpg);
    background-position: bottom left;
    
}
.box2 {
    grid-area: b;

    background: url(../images/hero-demo5.jpg) no-repeat;
    background-size: cover;
    
    
    display: flex;
    align-items:flex-end;

}
.box2 h3 {
    margin-bottom: 30px;
}
.box3 {
    grid-area: c;

    background: url(../images/hero-demo4.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    
    
}
.box4 {
    grid-area: d;

    background: url(../images/hero-demo3.jpg) no-repeat;
    background-size: cover;
    
    
}
.box5 {
    grid-area: e;

    background: url(../images/hero-demo2.jpg) no-repeat;
    background-size: cover;
    
    
}
.box6 {
    grid-area: f;
   
    background-color: rgb(117, 25, 25);
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    
}
.box6 button {
    cursor: pointer;
    margin: 0  auto 20px;
    padding: 5px;
    width: 90%;
    
}

.container {
    grid-template-areas: 
    "a b d"
    "a b e"
    "a b f"
    "a c f"
    ;
}

@media (max-width:800px) {

     .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 150px);
    grid-template-areas: 
    "a a"
    "a a"
    "b d"
    "b e"
    "b f"
    "c f"
    ;
    }

}
@media (max-width:600px) {
     .container {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6,200px);
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        ;
    }
    
}