h3, h4, p {
    margin-left: 10px;
}

.container {
    width: 100%;
    max-width: 940px;
    margin: auto;
    color: #fff;
    border-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 1px;


}
.box1 {
    background: url(../images/hero-demo1.jpg);
    background-position: bottom left;
    grid-row: 1/5;
}
.box2 {
    
    background: url(../images/hero-demo5.jpg) no-repeat;
    background-size: cover;
    
    grid-row: 1/4 ;
    
    display: flex;
    align-items:flex-end;

}
.box2 h3 {
    margin-bottom: 30px;
}
.box3 {
    background: url(../images/hero-demo4.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    
    grid-row: 4/5;
}
.box4 {
    background: url(../images/hero-demo3.jpg) no-repeat;
    background-size: cover;
    
    grid-row: 1/2;
}
.box5 {
    background: url(../images/hero-demo2.jpg) no-repeat;
    background-size: cover;
    
    grid-row: 2/3;
    
}
.box6 { 
   
    background-color: rgb(117, 25, 25);
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    grid-row: 3/5 ;
}
.box6 button {
    cursor: pointer;
    margin: 0  auto 20px;
    padding: 5px;
    width: 90%;
    
}
@media (max-width:800px) {

    .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 150px);
    }
    .box1 {
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .box2 {
        grid-row: 3/6;
    }
    .box3 {
        grid-row: 6/7;
    }
    .box4 {
        grid-row: 3/4;
    }
    .box5 {
        grid-row: 4/5;

    }
    .box6 {
        grid-row: 5/7;
    }

}
@media (max-width:600px) {
    .container {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6,200px);
    }
    .box1 {
        grid-row: 1;
        grid-column: 1;
    }
     .box2 {
        grid-row: 2;
    }
    .box3 {
        grid-row: 3;
    }
    .box4 {
        grid-row: 4;
    }
    .box5 {
        grid-row: 5;
    }
    .box6 {
        grid-row: 6;
    }
}
